*{
    margin: 0px;
    padding: 0px;
    
}

/* hour */
.border:hover{
    border: 2px solid white;
}

header{
    /* background-color: aqua; */
}
.logo{
    margin-top: 8px;
    margin-left: -35px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.navbar{
    height: 60px;
    background-color: #121920;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.address{
    color: aliceblue;
    padding: 2px;
}
.seclogo{
    display: flex;
}
.first{
    margin-left: 18px;
    color: #cccccc;
    font-size: 0.85rem;
}
.india{
    margin-left: 5px;
}
/* Boxx 3 */

.nav-search{
    background-color: pink;
    width: 680px;
    height: 40px;
    display: flex;
    border-radius: 4px;
    justify-content: space-evenly;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    align-items: center;
    text-align: center;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-logo{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* Bpxx */
.language{
    height: 33px;
    width: 55px;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    
}
.lang-select{
    background-color: #121920;
    color: white;
    border: none;
    font-size: 0.95rem;
    font-weight: 700;
}

/* Boxx  */
.nav-signin{
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}
.nav-signin a{
    text-decoration: none;
    color: white;
}
span{
    font-size: 0.8rem;
}
.sign-sec{
    font-weight: 800;
    font-size: 1rem;
    color: white;
}
.nav-orders{
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}

/* Box */
.nav-cart{
    color: white;
    font-size: 0.85rem;
    font-weight: 700;
    padding: 3px;
}

/* This is underline class is created because when we given a link using a ancor tag there is underline occur */
.no-underline{
    text-decoration: none;
}
.nav-cart i{
    font-size: 30px;
}


/* Panell csss */


.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
.w-color{
    color: white;
}
.panel-first{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
}
.panel-first p{
    margin-left: 15px;
}
.panel-first span{
    margin-left: 5px;
    font-size: 1.05rem;
    font-weight: 700;
}
.panel-first i{
    margin-left: 5px;
    font-size: 1.25rem;
}
.panel-second{
    margin-right: 10px;
    font-size: 1.05rem;
    font-weight: 520;
}
.panel p{
    padding: 6.5px;
}
.menu{
    padding: 6.5px;
}

/* heroo section */

.hero-sec{
    background-image: url(./images/hero-section.jpg);
    height: 320px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-sec p{
    height: 40px;
    background-color: white;
    display: flex; 
    align-items: center;
    justify-content: center; 
    font-size: 0.85rem;
    width: 100%;
    margin-bottom: 25px;
}
.hero-sec a{
    color: #007185;
}

/* shopp section */

.shop-sec{
    background-color:  #e2e7e6;
    height: 1750px;
    display: flex;
    justify-content: space-evenly;
    /* IN this section we can make changes */
    flex-wrap: wrap;
}

.box{
    height: 350px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    
}
.box img{
    margin-left: 14px;
    margin-top: 10px;
}
.box p{
    margin-left: 15px;
    margin-bottom: -10px;
    color: #007185;
}
.box h2{
    margin-left: 15px;
    margin-top: 10px;
}

.shop-full{
    height: 250px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    background-color: white;
    margin-left: 23px;
    margin-right: 20px;
}
.box-0{
    width: 16.8%;
    /* border: 2px solid black; */
    margin-right: 10px;
}
.box-0 img{
    margin-top: 10px;
    padding-left: 10px;
}
.box-0 h2{
    margin-left: 2.5px;
    margin-top: 6px;
}
.box-0 p{
    color: #007185;
    margin-left: 12px;
    margin-top: 10px;
}
.box-03{
    margin-top: 45px;
}
.box-04{
    margin-top: 25px;
}
.box-05{
    margin-top: 30px;
}
.box-06{
    margin-top: 25px;
}
/* footerrrr */

.footer-first{
    height: 40px;
    background-color: #37475a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.footer-second{
    height: 512px;
    background-color: #222f3d;
}
.f-first{
    height: 400px;
    
    display: flex;
    color: white;
    justify-content: space-evenly;
    
}
.footer-second a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #dddddd;
    
}
.footer-second p{
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 15px;
}
.f-second{
    height: 110px;
    border: 0.1px solid #222f3d;
    border-top-color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.f-logo{
    margin-top: 15px;
}
.f-other{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.f-lang{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;

}
.f-lang p{
    margin-top: 17px;
}
.f-us{
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-flag{
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    
}
.f-flag p{
    margin-top: 17px;
}

/* Footerr lastt */
.random{
    height: 20px;
    background-color: #121920;
}
.f-last{
    height: 55px;
    background-color: #121920;
    text-align: center;
    color: white;
    
}
.f-last a{
    font-size: 0.9rem;
    margin-left: 10px;
}
.f-last p{
    font-size: 0.85rem;
}




/* Sign in pageee */

.sign-in-page{
    
}

.sign-in-logo{
    display: flex;
    justify-content: center;
    color: black;
}

.sign-in-from{
    height: 380px;
    width: 350px;
    
    border: 1px solid rgb(200, 216, 180);
    border-radius: 10px;

    
}
.sign-in-outer-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-sign-in{
    display: flex;
    justify-content: center;
    
}
.input-sign-in input{
    width: 88%;
    height: 30px;
    margin: 10px;
    margin-top: 3px;
   
}
.sign-in-from button{
    width: 90%;
    height: 30px;
    margin: 11px;
    margin-left: 18px;
    background-color: rgb(239, 196, 8);
    border: none;
    border-radius: 5px;
}
.p-input{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1rem;
    font-weight: bold;
}
.sign-in-from h2{
    margin: 17px;
    font-size: 1.9rem;

}
.form-second-p{
    width: 90%px;
    /* background-color: #007185; */
    margin-left: 20px;
    margin-top: 10px;

}
.form-second-p p a{
    color: #007185;
}
.form-help{
    width: 90%px;
    /* background-color: #007185; */
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}

.form-help p{
    margin-left: 7px;
    margin-top: -2px;
    color: #007185;
}
.form-last{
    width: 90%;
    height: 70px;
    border: 1px solid white;
    border-top-color: #c1c4ca;
    margin-left: 18px;
    margin-top: 23px;
    padding-top: 18px;
    
}
.form-last a{
    margin-top: 50px;
    color: #007185;
}

.new-account{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 0.8rem;
}
.create-account{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* width: 350px; */
    /* margin-left: 587px; */
    
}
.create-account button{
    height: 27px;
    width: 350px;
    border: 1px solid #c1c4ca ;
    border-radius: 6px;
    font-size: 0.8rem;
    background: white;
}

.sign-in-footer{
    /* background-color: rgb(239, 238, 238); */
    width: 100%;
    height: 50px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-top: 1px solid #c1c4ca;
}

.footer-between{
    margin-top: 20px;
    /* background-color: rgb(239, 238, 238); */
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    color: #007185;
    font-size: 0.95rem;
}
.sign-in-copy{
    display: flex;
    justify-content: center;
    font-size: 0.90rem;
    /* background-color: rgb(239, 238, 238); */
}

/* Cart cssss */

.cart-full{

    width: 100%;
 
}
.cart-image{
    height: 182px;
    width: 295px;
    margin-top: 20px;
    
}
.first-cart{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    background-color: white;
    height: 200px;
    align-items: center;
}
.cart-second{
    /* margin-left: 30px; */
    /* margin-top: 30px; */
    margin-bottom: 12px;

}
.cart-second a{
    color: #007185;
    margin-top: 8px;
}
.first-button{
    margin-top: 15px;
    width: 190px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(239, 196, 8);
    border: none;
}
.second-button{
    width: 110px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    
}
.cart-empty{
    height: 65px;
    width: 100%;
    background-color: white;
    margin-top: 25px;
}
.cart-last{
    font-size: 0.95rem;
    margin: 25px;
    margin-top: 35px;
    /* margin-bottom: 120px; */
}

.personal-cart{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: white;
    align-items: center;
    margin-top: 380px;
    margin-bottom: 50px;
    border: 1px solid rgb(208, 207, 207);
}
.personal-inner-cart{
    width: 15%;
    text-align: center;
    /* background-color: yellow; */

}
.personal-inner-cart button{
    width: 100%;
    height: 25px;
    background-color: rgb(239, 196, 8);
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.personal-inner-cart a{
    color: #007185;
}


/* Today's Deals  csss */

.deals-panel{
    width: 100%;
    height: 33px;
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
}
.deals-panel a{
    margin-left: 20px;
    font-size: 0.9rem;
}

.deals-top-image{
    margin-left: 8px;
    width: 100%;
    
}

/* Boxess line */

.deals-heading{
    margin-left: 15px;
    margin-top: 20px;
}

.deals-box-image{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15px;
}
.deals-image {
    /* border: 2px solid black; */
    width: 16%;
    height: 300px;
}
.actual-image{
    width: 100%;
    height: 65%;
    /* border: 2px solid red; */
}
.actual-image img{
    width: 100%;
    height: 100%;
}
.deals-button{
    display: flex;
    margin-top: 10px;
    margin-left: 1px;
}
.deals-button p{
    background-color: rgb(173, 50, 50);
    padding-left: 4px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    border-radius: 3px;
}
.deals-button button{
    background-color: transparent;
    border: none;
    font-weight: 700;
    color: rgb(173, 50, 50);
    margin-left: 15px;
    font-size: 0.95rem;
}
.box-last-p{
    margin-top: 10px;
}
.deals-bottom-image{
    margin-top: 28px;
    margin-left: 3px;
}

/* This (Following) css is only write for last sign in button and respective div to minimize marging top*/

.deals-sign-in{
    margin-top: 70px;
}


/* This is  Registry section */

.registry-panel-top{
    margin-top: 15px;
}
.registry-panel-top a{
    height: 65px;
    width: 100%;
    color:black;
    margin-left: 20px;
}
#first-heilight-text{
    color: #064f70;
    font-size: 1.4rem;
    font-weight: 700;
}
#first-heilight-text:hover{
    text-decoration: underline;
}
.registry-panel-top select{
    border: none;
    font-size: 0.9rem;   
}

/* registry hero section */

.registry-hero-section{

}
.registry-hero-image{
    margin-top: 20px;
}
.registry-hero-image img{
    height: 300px;
    width: 100%;
    
}

.registry-hero-section-outer{
    display: flex;
    justify-content: center;
}

.registry-hero-second{
    width: 45%;
    height: 150px;
    /* border: 2px solid black; */
    background-color: white;
    margin-top: -65px;
    text-align: center;
    border-radius: 20px;

}
.registry-hero-second h2{
    margin-top: 20px;
}
.registry-hero-second p{
    margin: 10px;
    font-size: 1.2rem;
}
.registry-hero-second button{
    padding: 5px;
    width: 35%;
    border-radius: 5px;
    background-color: rgb(239, 196, 8);
    border: none;
}
.registry-hero-second button a{
    color: black;
}

.registry-third-section-outer{
    width: 100%;
    height: 65px;
    background-color: #febd68;
    display: flex;
    justify-content: center;
    background-color: #e8e9ec;
    margin-top: 20px;
}
.registry-third-section{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.registry-third-section h2{
    
}
.registry-third-section input{
    width: 30%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #37475a ;
    padding-left: 5px;
}
.registry-third-section select{
    width: 30%;
    height: 30px;
    border-radius: 7px;
    border-color: #37475a;
}
.registry-third-section button{
    width: 8%;
    height: 30px;
    border-radius: 14px;
    background-color:#121920;
    color: white;
    border: none;
}

.registry-boxes-heading{
    margin-top: 25px;
    text-align: center;
}
.registry-boxes{
    width: 14%;
    height: 250px;
    border: 2px solid #979898 ;
}
.registry-boxes-outer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.registry-boxes img{
    width: 100%;
    height: 80%;

}
.registry-boxes p{
    text-align: center;
    margin-top: 10px;
    font-size: 1.1rem;
}

.registry-last-image{
    margin-top: 40px;
    margin-left: 3px;
}

.registry-last-heading{
    text-align: center;
    margin-top: 65px;
}

.registry-last-icon-outer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.registry-last-icon-inner{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.registry-last-icon{
    width: 22%;
    height: 200px;
    /* border: 2px solid black; */
}

.registry-last-icon i{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: #064f70;
}
.registry-last-icon h3{
    text-align: center;
    margin-top: 20px;
}
.registry-last-icon p{
    text-align: center;
    margin-top: 5px;
}

/* Sevices pageee csss */


.service-panel-outer{
    width: 100%;
    background-color: #007185;
    border: 2px solid transparent;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}


.service-panel{
    display: flex;
    width: 40%;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    color: white;

}
.service-panel p{
    font-size: 1.2rem;
}

.service-second{
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 2px solid black; */
    text-align: center;

}
.service-second h2{
    margin-bottom: 10px;
    font-size: 1.9rem;
}
.service-second p{
    font-size: 1.2rem;
}

.service-outer-box{
    display: flex;
    justify-content: center;
}
.service-inner-box{
    width: 85%;
    height: 450px;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-box{
    width: 32%;
    height: 94px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    
}


.service-box img{
    height: 60%;
    width: 15%;
    margin-left: 10px;
    
}
.service-box p{
    margin-left: 18px;
}

.service-last-section{
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    background-color:  #e2e7e6;
    
}
.service-search-outer{
    width: 85%;
    margin-top: 50px;
}
.service-search-outer input{
    width: 100%;
    height: 25px;
    margin-left: 8px;
    border: none;
    
}
.service-input{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
}
.service-search-outer i{
    margin-left: 5px;
}

.service-box-section-outer{
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: white;
    background-color:  #e2e7e6;


}
.service-box-section{
    height: 300px;
    width: 85%;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service-box-last{
    height: 80px;
    width: 45%;
    border: 1px solid rgb(192, 191, 191);
    position: relative;
    background-color: white;
    border-radius: 10px;
    
}
.service-box-last{
    text-align: center;
}
.service-box-last h3{
    margin-top: 3%;
}
.service-box-last p{
    color: rgb(123, 121, 121);
}